@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #ffb703;
  /* Egg yolk yellow */
  --secondary-color: #fb8500;
  /* Deep orange */
  --dark-bg: #1a1a1a;
  --light-text: #ffffff;
  --accent-color: #219ebc;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  border-color: #ffb703;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 183, 3, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--dark-bg);
  color: var(--light-text);
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #ffb703;
  text-decoration: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #fb8500;
}

ul {
  list-style: none;
}